<footer class="site-footer">
    <div class="wrapper">
        <div class="upper-div">
            <div class="left">
                <p class="caption">Our mission is to provide a free, <br /> world-class pharmacy management system to any pharmacy owner</p>
                <p class="caption">My Pharmacy is a nonprofit organization. <br /> <a href="">Donate</a> or <a href="https://github.com/tolgaferad">Volunteer</a> today!</p>
            </div>
            <div class="right">
                <p>Links</p>
                <ul>
                    <li><a routerLink="/about">About us</a></li>
                    <li><a routerLink="/contacts">Help</a></li>
                    <li><a routerLink="register">Sing up</a></li>
                </ul>
            </div>
        </div>
        <div class="lowwer-div">
            <p>© 2023 My Pharmacy</p>
            <a href="">Terms of use</a>
            <a href="">Privacy policy</a>
            <a href="">Cookie Notice</a>
        </div>
    </div>
</footer>