<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<div class="main-container">
    <app-main></app-main>
</div>
<body class="w3-light-grey">
    <!-- !PAGE CONTENT! -->
    <div  class="w3-main" style="margin-left:330px;margin-top:50px;">
        <button  style= "position:center; left:10px; width:140px" (click)="createSale()" mat-flat-button color="primary">Create sale</button>
        <button  style= "left:20px; width:140px"  (click)="addMedicineToSale()" mat-raised-button color="success">Add medicines</button>
        <button  style= "left:30px;;width:140px" (click)="deleteSale(selectedId)" mat-raised-button color="success">Delete sale</button>  
    </div>
    <div style="margin-left:400px;margin-top:50px;">
        <strong>Sales:</strong>
        <div><br></div>
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
          </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Id</th>
              <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Price</th>
              <td mat-cell *matCellDef="let element">{{element.price}}</td>
            </ng-container>
            <ng-container matColumnDef="createTime">
              <th mat-header-cell *matHeaderCellDef>Create Time</th>
              <td mat-cell *matCellDef="let element">{{element.createTime}}</td>
            </ng-container>
            <ng-container matColumnDef="isConfirmed">
                <th mat-header-cell *matHeaderCellDef>Confirmed</th>
                <td mat-cell *matCellDef="let element">{{element.isConfirmed}}</td>
              </ng-container>               
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
      mat-row [ngClass]="{'highlight': selectedId == row.id}"
      (click)="onSelect(row)"
      *matRowDef="let row; columns: displayedColumns;"
  ></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,20]" aria-label="Select page of sales"></mat-paginator>
    
    </div>
</body>
</html>