<input type="checkbox" name="main-nav-toggle" id="main-nav-toggle" checked />
    <header class="site-header">
        <div class="wrapper">
            <div class="site-logo">
                <img src="../../../assets/images/Pharmacie-logo.jpg" alt="">
                <a class="caption" routerLink="/login">My pharmacy</a>
            </div>
            <label for="main-nav-toggle" id="toggle"><i class="fab fa-xing"></i>Menu</label>
            <nav class="site-nav right">
                <ul>
                    <li><a routerLink="/contacts">Contacts</a></li>
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/register">Register</a></li>
                </ul>
            </nav>
        </div>
    </header>