<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<div class="main-container">
    <app-main></app-main>
</div>
<body class="w3-light-grey">
    <!-- !PAGE CONTENT! -->
    <div  class="w3-main" style="margin-left:330px;margin-top:50px;">
            <button  style= "position:center; left:10px; width:140px" (click)="addMedicines()" mat-flat-button color="primary">Add Medicines</button>
            <button  style= "left:20px; width:140px"  (click)="addToShelf()" mat-raised-button color="success">Add to shelf</button>
            <button  style= "left:30px;;width:140px" (click)="deleteMedicine(selectedId)" mat-raised-button color="success">Delete medicine</button>   
    </div>
        <div style="margin-left:400px;margin-top:50px;">
            <strong>Medicines:</strong>
            <div><br></div>
            <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
              </mat-form-field>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let element">{{element.name}}</td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="barcode">
                  <th mat-header-cell *matHeaderCellDef>Barcode</th>
                  <td mat-cell *matCellDef="let element">{{element.barcode}}</td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="strength">
                  <th mat-header-cell *matHeaderCellDef>Strength</th>
                  <td mat-cell *matCellDef="let element">{{element.strength}}</td>
                </ng-container>              
                <!-- Symbol Column -->
                <ng-container matColumnDef="manufacturer">
                  <th mat-header-cell *matHeaderCellDef>Manufacturer</th>
                  <td mat-cell *matCellDef="let element">{{element.manufacturer}}</td>
                </ng-container>
                <ng-container matColumnDef="details">
                    <th mat-header-cell *matHeaderCellDef>Details</th>
                    <td mat-cell *matCellDef="let element">{{element.details}}</td>
                  </ng-container>
                  <!-- Name Column -->
                  <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Price</th>
                    <td mat-cell *matCellDef="let element">{{element.price}}</td>
                  </ng-container>
                  <!-- Weight Column -->
                  <ng-container matColumnDef="expiryDate">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let element">{{element.expiryDate}}</td>
                  </ng-container>
                
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="shelfName">
                    <th mat-header-cell *matHeaderCellDef>Shelf Name</th>
                    <td mat-cell *matCellDef="let element">{{element.shelfName}}</td>
                  </ng-container>
                  
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
          mat-row [ngClass]="{'highlight': selectedId == row.id}"
          (click)="onSelect(row)"
          *matRowDef="let row; columns: displayedColumns;"
      ></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5,10,20]" aria-label="Select page of users"></mat-paginator>
        
        </div>
</body>
</html>